@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/*
#174B80
#7ABCFF
#2E96FF
#526D87
#2578CC
*/


:root {
    --cor0:#174B80;
    --cor1:#7ABCFF;
    --cor2:#2E96FF;
    --cor3:#526D87;
    --cor4:#2578CC;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header > h1{
    color: white;
    font-weight: 800px;
    margin-bottom: 30px;
    
}

header > p{
 
    color: var(--cor1)
    
}

nav{
    background-color: #526D87;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.404);

}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.5s;


}

nav > a:hover{
    background-color:var(--cor1) ;
    color: var(--cor4);
}

main{
    background-color: white;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

}

main h1{
color:var(--cor3);
background-image: linear-gradient(to right, var(--cor1), transparent);
}

main h2{
    color:var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    }

main p{
    font-size: 18px;
    text-align: justify;
    text-indent: 40px;
    margin: 15px 0px;
    line-height: 2em;

}

pre{
    text-align: center;
}

aside{
    background-color: #7ABCFF;
    padding: 10px;
    border-radius: 5px;
    
}

aside > ul{
    list-style-position: inside;
    text-align: justify;

}

aside > h3{
    background-color: #174B80;
    color: white;
    padding: 10px;
    margin: -15px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


iframe{
    margin: 15px;
    border: 2px;
    border-style: solid;
}

footer{
    background-color: var(--cor0);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 3px;
}

footer > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

img{
    width: 30%;
    border: 2px;
    border-style: solid;
}

figcaption{
    font-size: 12px;
}

ul{

}